#!/usr/bin/make -f
# -*- makefile -*-
#
# debian package by Alessandro Amici 2002-2003.
# Based on: GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# dpatch targets
include /usr/share/dpatch/dpatch.make

PYVERS=$(shell pyversions -v -r debian/control)
PYDEF=$(shell pyversions -dv)

configure: configure-stamp
configure-stamp: patch-stamp
	dh_testdir

	for V in $(PYVERS); do \
		PYTHON=/usr/bin/python$$V ./configure --prefix=/usr \
			--mandir=\$$\{prefix\}/share/man \
			--with-threads \
			--with-grass=no \
			--with-geotiff=internal \
			--with-jasper \
			--with-netcdf \
			--with-xerces \
			--with-geos \
			--with-mysql; \
		mv GDALmake.opt GDALmake.opt-$$V; \
	done

	# Patch the generated libtool to avoid passing -rpath when linking,
	# and to explicitly link libraries against the libraries they
	# depend on.
	sed < libtool > libtool-2 \
	-e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec=" -D__LIBTOOL_IS_A_FOOL__ "/' \
	-e '/^archive_cmds="/s/"$$/ \\$$deplibs"/' \
	-e 's/^hardcode_into_libs.*$$/hardcode_into_libs=no/'
	mv libtool-2 libtool
	chmod 755 libtool 

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp: 
	dh_testdir

	cp `ls GDALmake.opt-*|tail -1` GDALmake.opt
	$(MAKE) lib-target apps-target
	$(MAKE) docs

	touch build-stamp

clean: clean-unpatched unpatch
clean-unpatched:
	# reminiscence to old procedure of building man pages, will now created
	# by doxygen. This rm will be deleted in further releases of gdal
	sh -c "if (test -d man/man1) then rm -r man/man1; fi"

	dh_testdir
	dh_testroot

	-$(MAKE) distclean
	rm -f GDALmake.opt-*

	dh_clean build-stamp configure-stamp

install: 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Save gdal-config for next use
	cp apps/gdal-config-inst $(CURDIR)/debian/gdal-config.build

	for V in $(PYVERS); do \
		cp GDALmake.opt-$$V GDALmake.opt; \
		(cd pymod && $(MAKE) clean); \
		$(MAKE) py-target; \
		$(MAKE) install prefix=$(CURDIR)/debian/tmp/usr \
			INST_PYMOD="\$$(prefix)"`awk -F '/usr' '/INST_PYMOD/ {print $$2}' GDALmake.opt` ; \
	done

	$(MAKE) install-docs prefix=$(CURDIR)/debian/tmp/usr \
		"INST_DOCS=\$$(prefix)/share/doc/libgdal-doc"\
		"INST_MAN=\$$(prefix)/share/man"

	# Restore build-time gdal-config
	cp $(CURDIR)/debian/gdal-config.build $(CURDIR)/debian/tmp/usr/bin/gdal-config && \
		rm -f $(CURDIR)/debian/gdal-config.build

	# To reach compatibility with window-version which puts gdal-header
	# files into /usr/include/gdal. I don't want to place headerfiles directly
	# into /usr/include/gdal to avoid incompatibility with older debian
	# package versions
	ln -fs . `pwd`/debian/tmp/usr/include/gdal

binary-common: 
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_installdocs
	dh_installchangelogs NEWS
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_pycentral
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -L libgdal1-1.3.2 -l debian/libgdal1-1.3.2/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-arch binary-indep binary-common binary install patch unpatch clean-unpatched
